.form_border{
    width: 100%;
    .header{
        text-align: left;
        padding: 1rem;
    }
   .from-wrap{
        width: 100%;
    }
    .logo-img{
        width: .3rem;
        height: .3rem;
    }
    .deleteRowM {
        font-size: 25px;
        color: red;
    }
}