.logo{
    width: 1.5rem;
    height: 1.5rem;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.brand-select{
    width: 1.5rem;
}