.header-title{
    padding-bottom: .2rem;
    font-size: .2rem;
    border-bottom-style: solid ;
    border-width: 1px;
    border-color: #f7f7f7;
}
.logo{
    width: 1.5rem;
    height: 1.5rem;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-select{
    width: 1.5rem;
}